extends layout

block content
	h1= title
	div
		table
			tr
				th Symbol
				th CompanyName
				th CurrentPrice
			each stock, i in stocks
				tr
					td #[a(href='http://finance.sina.com.cn/realstock/company/' + stock._id + '/nc.shtml') #{stock._id}]
					td #{stock.companyName}
					td #{stock.currentPrice}
	