extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    h1 Ocean's Eleven
    li 
        a(href="/em") Earning Management Dashboard
    li
        a(href="/cstock") Chinese Stock Market
    li
        a(href="/ustock") Nasdaq Stock Market
    li
        a(href="https://coinmarketcap.com/currencies/views/all/") CryptoCurrency Market Capitalizations
    li
        a(href="https://www.kaggle.com/zhuoliliang") Kaggle contribution
    li
        a(href="https://github.com/Zhuoli/DeepLearning101") Deep Learning Notes
    ul
        li Comedy
        li Thriller
    p.
        Danny Ocean and his eleven accomplices plan to rob
        three Las Vegas casinos simultaneously.