extends layout

block content
  h1= title
  p Aloha!
  div
    li 
        a(href="/em") Earning Management Dashboard
    li
        a(href="/cstock") Chinese Stock Market
    li
        a(href="/ustock") Nasdaq Stock Market
    li
        a(href="https://coinmarketcap.com/currencies/views/all/") CryptoCurrency Market Capitalizations
    li
        a(href="https://bitshares.org/wallet/#/") BitShares DEX
    li
        a(href="https://www.kaggle.com/zhuoliliang") Kaggle contribution
    li
        a(href="https://github.com/Zhuoli/DeepLearning101") Deep Learning Notes
  
    p Email me: #[a(href='mailto:zhuoli@zhuoliliang.com?Subject=Hello%20again') zhuoli@zhuoliliang.com]